.dashboard-section {
    padding-top: 10rem;
    display: flex;
    justify-content: center;
}

.dashboard-section h4 {
    font-size: 14px;
    letter-spacing: var(--mainSpacing);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.dashboard-section .line {
    width: 5rem;
    height: 2px;
    margin: 0 auto;
    background: var(--primaryColor);
    margin-bottom: 4rem;
  }

.dashboard-container {
    /* border: 2px solid gold; */
    background-color: var(--mainWhite);
    min-height: 60vh;
    padding: 2rem;
}

.header-container {
    display: flex;
    align-items: flex-start;
}

#dashboard-header {
    width: 0;
}

#forms-list {
    border: 2px solid darkgreen;
    display: flex;
}

#add-button {
    border-radius: .2rem;
    font-size: 80px;
    padding: 0px;
    height: 60px;
    width: 60px;
}