.grid-item {
    border: 2px solid grey;
}

.item-settings-button {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 100px;
    border: 2px solid darkgreen;
}